body, html {
  margin: 0;
  padding: 0;
  background: url('../img/giftly.png');
}


#images {
  display: none;
}

#test {
  height: 100px;
  width: 100px;
  background-color: 'white';
}

#controls {
width: 910px;
}

#recent {
  height: 32px;
  width: 100%;
  background-color: black;
}

#emojiChooser {
  float: left;
  width: 450px;
  height: 200px;
  border: 2px solid black;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

#options {
  float: right;
  width: 450px;
  height: 200px;
  border: 2px solid black;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

#emojiChooser img {
  height: 32px;
  width: 32px;
  padding: 3px;
}

.optionicon {
  display: inline;
  width: 32px;
  height: 32px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 2px;
  background-color: white;
}

#hiddenoptions {
  display:none;
}

#optionsbar {
  padding-left: 5px;
  padding-top: 3px;
}

.oneoption {
  padding: 10px;
}

.oneoption h3 {
  text-align: center;
  padding: none;
  margin: none;
}

.emojiIcon {
  height: 32px;
  width: 32px;
  padding: 3px;
}

.recent {
  height: 30px;
  width: 30px;
}

#container {
  width: 100%;
     /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.wrapper {
  margin: 0 auto;
}

#title {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  margin-top: -10px;
  text-align: center;
  padding: 0;
  margin: 0;
}