#comic-container {
  width: 910px;
  padding: 10px;
  margin: 10px auto;
  background-image: url('/img/ricepaper2.png');
  background-color: white;
  border: 2px solid black;
  border-radius: 120px 10px / 10px 120px;
}

#container {
  width: 100%;
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

#anotherRandom {
  font-family: 'Lato';
  font-size: 1.5em;
  height: 60px;
  text-transform: uppercase;
  width: 40%;
  margin: 0 30%;
}

#createComic {
  font-family: 'Lato';
  font-size: 1.5em;
  height: 60px;
  text-transform: uppercase;
  width: 40%;
  margin: 10px 30%;
  a {

  }
}

#authorname {
  margin: 0 15%;
  width: 70%;
  font-size: 1.5em;
}

#comic img {
  height: 310px;
  width: 910px;
  margin: 0 auto;
}


#comicauthor {
  font-family: 'Lato';
  margin-top: 10px;
  font-size: 1em;
  text-transform: capitalize;
  position: relative;
  bottom: 10px;
  left: 5px;
}

#comicauthor img {
  height: 10px;
  display: inline-block;
}


.loadingscreen {
  width: 100%;
  text-align: center;
}
.loadingscreen img{
  margin: 0 auto;
}

.loadingscreen p {
  font-size: 3em;
}

#download {
  width: 100%;
  text-align: center;
}

#download p {
  text-align: center;
}

#download img {
  display: inline-block;
  margin: auto;
}

#loadingcomic {
  display: none;
}



.deliverytextbox {
  display: block;
  font-size: 1em;
  width: 75%;
  margin: 20px auto;
}


.deliverylink {
  text-align: right;
  width: auto;
  margin-right: 30px;
  text-transform: none;
  float: right;
}

.randomdeliverylink a {
  text-decoration: underline;
  color: black;
}