#mainpage {
  .page {
    width: 100vh;
    height: 100vh;
    min-width: 100%;
    padding-top: 50px;
    // background-color: white;
  }

  .vision {
    background-color: white;
  }

  #moreinfo {
    margin: 0 auto;
    margin-top: 45px;
    animation-duration: 4s;
    animation-name: bounce;
  }

  @keyframes bounce {
    from {
      width: 100%;
    }

    to {
      width: 30%;
    }
  }

  .products {
    background-color: red;
  }


  .pagetitle {
    font-family: 'Lato';
    font-size: 3em;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: black;
  }

  .description {
    h3 {
      text-align: center;
      padding: 10px;
      padding-top: 0px;
      margin-top: 5px;
      border-bottom: 5px solid $button-color;
    }

    padding: 30px;
  }

  .icon {
    margin: 0 auto;
    padding: 0px;
  }

  .team {
    background-color: yellow;
  }

  .contact {
    background-color: pink;
  }

  .product {
    background-color: white;
    border: 1px solid black;
  }
  #splash {
    width: 100vh;
    height: 100vh;
    background: url(/img/emojifront.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .intro {
    visibility: hidden;
    border: 10px solid white;
    color: black;
    font-family: 'Lato';
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: 5em;
  }

  .fill {
    min-width: 100%;
    width: 100%;
  }
}

html, body {
  position: relative;
  height: 100%;

}

.navbar {
  color: white;
}


#vertical-center{
 position: absolute;
 top: 50%;
 margin-top: -100px;
 left: 0;
 width: 100%;
}