.carousel-container {
  width: 910px;
  height: 310px;
  margin: 0 auto;
}

.mainlinks {
  text-align: center;
  margin-top: 10px;
}

.mainlinks a {
  color: black;
  font-family: 'Lato';
  font-size: 2.75em;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 0px white;
}

.mainpagelink:hover {
  color: white;
  text-shadow: 2px 2px 0px black;
}

#titlewrap {
  margin: 10px auto;
  width: 905px;
  padding: 10px 0px;
  border-top: 7px solid black;
  border-bottom: 7px solid black;
  font-family: 'Lato';
  text-align: center;
}

#maintitle {
  text-shadow: 4px 4px 1px white;

  font-size: 5em;
}

#submaintitle {
  font-size: 1.5em;
  font-style: italic;
}


.creatorname {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: .9em;
  font-style: italic;
  a {
    text-decoration: underline;
    color: black;
    font-shadow: none;
  }
}