

<div id="comic-container">
  <div id="comic">
<img src="<%= img %>"/>
  </div>
  <div id="comicauthor"><img src='/emojis/tm.png'> <img src='/emojis/copyright.png'> <span id='author'><%= author %>, <%= date %>.</span>
  <span class="randomdeliverylink"><a href="https://emojicomic.herokuapp.com/comics/<%= shortid %>">permalink</a></span>
  <br>Redistribution Hella Encouraged.

  </div>

  </div>
</div>