<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="/js/vendor/paper.js"></script>
  <script type="text/javascript" src="/js/vendor.js"></script>
  <script type="text/paperscript" canvas="myCanvas" src="/js/scripts.js"></script>
  <script type="text/javascript" src="/js/slick.js"></script>
  <title>Create A Comic | Emoji Comics</title>


  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/slick.css">


</head>
<body>
  <div id="container">
    <div class="wrapper">
      <canvas id="myCanvas" width="1000" height="310" keepalive="true"></canvas>

      <div id="controls">
        <div id="stats">
          <span id="numberLoaded"></span>

          <span id="loadButtons">
            <button id="moreEmojis">load more</button>
            <button id="allEmojis">load all</button>
            <button class='flipbutton' id="flipEmojis">flip emojis</button>
          </span>
          <span id="recent">recently used:</span>

        </div>
        <div id="recent"></div>

        <div id="emojiChooser">
          <img id="656" src="/emojis/656.png">


        </div>
        <div id="optionsbar">
          <div class="optionicon" data-click="speech">
            <img src='/emojis/speechleft.png'>
          </div>
          <div class="optionicon" data-click="backgroundsoption">
            <img src='/emojis/backgroundicon2.png'>
          </div>
          <div id="downloadtab" class="optionicon" data-click="save">
            <img src='/emojis/downloadicon2.png'>
          </div>
          <div class="optionicon" data-click="info">
            <img src='/emojis/info.png'>
          </div>
        </div>
        <div id="options">
          <h3>welcome to the emoji comic creator.</h3>
          <p><img class="helpimg" src="/emojis/uparrow.png"><img class="helpimg" src="/emojis/uparrow.png"> click tabs to see options <img class="helpimg" src="/emojis/uparrow.png"><img class="helpimg" src="/emojis/uparrow.png">
           <p><img class="helpimg" src="/emojis/leftarrow.png"><img class="helpimg" src="/emojis/leftarrow.png"><img class="helpimg" src="/emojis/leftarrow.png"> click an emoji to add to comic
           </div>
         </div>
       </div>

     </div>

     <div id="hiddenoptions">
      <div id="speech">
        <div id="textcontainer">
          <input id="textInput" placeholder="text goes here" type="text">
        <button id="textGo">make speech bubble</button>
        </div>
        <div class="labelrow">
          <input type="radio" id="radioSpeechL" name="speechtype" checked="checked" value="speechleft">
          <label class="lighter-label label-4th" for="radioSpeechL">
            <img class="speechselect" src='/emojis/speechleft.png'>
          </label>
          <input type="radio" id="radioSpeechR" name="speechtype" value="speechright">
          <label class="lighter-label label-4th" for="radioSpeechR">
            <img class="speechselect" src='/emojis/speechright.png'>
          </label>
          <input type="radio" id="radioThoughtL" name="speechtype" value="thoughtleft">
          <label class="lighter-label label-4th" for="radioThoughtL">
            <img class="speechselect" src='/emojis/thoughtleft.png'>
          </label>
          <input type="radio" id="radioThoughtR" name="speechtype" value="thoughtright">
          <label class="lighter-label label-4th" for="radioThoughtR">
            <img class="speechselect" src='/emojis/thoughtright.png'>
          </label>
        </div>
        <div class="labelrow">

          <input type="radio" id="radioFontS" name="fontsize" value="10">
          <label class="fontsmall label-3rd" for="radioFontS">small</label>
          <input type="radio" id="radioFontM" name="fontsize" checked="checked" value="17">
          <label class="fontmed label-3rd" for="radioFontM">medium</label>
          <input type="radio" id="radioFontL" name="fontsize" value="25">
          <label class="fontbig label-3rd" for="radioFontL">big</label>
          </div>
        <div class="labelrow">

          <input type="radio" id="radioFontRobot" name="fontface" value="Inconsolata">
          <label class="darker-label label-3rd robotfont" for="radioFontRobot">ROBOT</label>
          <input type="radio" id="radioFontNormal" name="fontface" checked="checked" value="Lato">
          <label class="darker-label label-3rd normalfont" for="radioFontNormal">Normal.</label>
          <input type="radio" id="radioFontCursive" name="fontface" value="Pacifico">
          <label class="darker-label label-3rd cursivefont" for="radioFontCursive">Cursive!</label>
        </div>
      </div>

      <div id="backgroundsoption">
        <div class="options-container">
          <div class="subtitle">Panel 1</div>
          <div class="subtitle">Panel 2</div>
          <div class="subtitle">Panel 3</div>
          <select id="bg1">
          </select>
          <select id="bg2">
          </select>
          <select id="bg3">
          </select>
        </div>
        <button class="background-button" id="randombg">randomize each background</button>
        <button class="background-button" id="onerandombg">matching random background</button>

      </div>

      <div id="save">
        <input id="authorname" type="text" maxlength="20" placeholder="artist name">
        <a id="download"><button class="inactive downloadbutton">
          <img src='/emojis/722.png'>
          <img src='/emojis/downloadicon2.png'>
          <img src='/emojis/722.png'>
          <br>SAVE IMAGE 2 THE CLOUD
        </button></a>

      </div>

      <div id="info">
       <div class="about"><img src="/emojis/sparkles.png"><img src="/emojis/sparkles.png"> <img src="/emojis/tm.png"> <img src="/emojis/copyright.png"> <img src="/emojis/restricted.png"> 2014 lukey q <img src="/emojis/sparkles.png"><img src="/emojis/sparkles.png">
        <br><img src="/emojis/rightarrow.png"> catch me on <img src="/emojis/bird.png"> <a target="_blank" href="http://twitter.com/nah_solo">twitter</a> <img src="/emojis/bird.png"> <img src="/emojis/leftarrow.png">
        <br> <img src="/emojis/cooldude.png"> i have <a href="http://lucasquinn.com/" target="_blank">a website</a>  <img src="/emojis/tongueout.png">
        <br><img src="/emojis/656.png"> <img src="/emojis/656.png"> <span class="we">"i only send emojis"</span> <img src="/emojis/656.png"> <img src="/emojis/656.png">
      </p></div>

    </div>


  </div>

  <div id='images'>
    <img id='moonSpin' src='/img/moonspin.gif'>


    <img id='bgPinkBlue' src='/backgrounds/pinkblue.jpg'>
    <img id='bgBarbershop' src='/backgrounds/barbershop.jpg'>
    <img id='bgTatooine' src='/backgrounds/tattooine.jpg'>
    <img id='bgBridge' src='/backgrounds/bridge.jpg'>

    <img id='bgStatic' src='/backgrounds/static.png'>
    <img id='bgSpace' src='/backgrounds/space.jpg'>
    <img id='bgJungle' src='/backgrounds/jungle.jpg'>
    <img id='bgWave' src='/backgrounds/bgwave.jpg'>
    <img id='bgBar' src='/backgrounds/bar.jpg'>


    <img id='trash' src='/emojis/trash.png'>
    <img id='clouds' src='/emojis/722.png'>
    <img id='rotate' src='/emojis/rotate.png'>
    <img id='up' src='/emojis/up.png'>
    <img id='down' src='/emojis/down.png'>

    <img id='speechleft' src='/emojis/speechleft.png'>
    <img id='speechright' src='/emojis/speechright.png'>
    <img id='thoughtleft' src='/emojis/thoughtleft.png'>
    <img id='thoughtright' src='/emojis/thoughtright.png'>
    <canvas id="newCanvas" width="910" height="310"></div>

    </div>
  </body>
  </html>