<!DOCTYPE html>
<html>
<head>

  <!--
   _______   _____ ______   ________        ___  ___
  |\  ___ \ |\   _ \  _   \|\   __  \      |\  \|\  \
  \ \   __/|\ \  \\\__\ \  \ \  \|\  \     \ \  \ \  \
   \ \  \_|/_\ \  \\|__| \  \ \  \\\  \  __ \ \  \ \  \
    \ \  \_|\ \ \  \    \ \  \ \  \\\  \|\  \\_\  \ \  \
     \ \_______\ \__\    \ \__\ \_______\ \________\ \__\
      \|_______|\|__|     \|__|\|_______|\|________|\|__|



   ________  ________  _____ ______   ___  ________  ________
  |\   ____\|\   __  \|\   _ \  _   \|\  \|\   ____\|\   ____\
  \ \  \___|\ \  \|\  \ \  \\\__\ \  \ \  \ \  \___|\ \  \___|_
   \ \  \    \ \  \\\  \ \  \\|__| \  \ \  \ \  \    \ \_____  \
    \ \  \____\ \  \\\  \ \  \    \ \  \ \  \ \  \____\|____|\  \
     \ \_______\ \_______\ \__\    \ \__\ \__\ \_______\____\_\  \
      \|_______|\|_______|\|__|     \|__|\|__|\|_______|\_________\
                                                       \|_________|

   -->
  <script type="text/javascript" src="/js/vendor.js"></script>
  <script type="text/javascript" src="/js/slick.js"></script>
  <script type="text/javascript" src="/js/scripts/slickuser.js"></script>


  <meta name="description" content="Make comic strips with emojis. Extremely fun and excellent.">

  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/slick.css">

  <title>Emoji Comics</title>
</head>
<body>
    <div class="wrapper">
      <div id="maintitle">emoji comic creator</div>
      <div class="carousel-container">
      <div class="carousel">
        <div><img src="img/example1.png"></div>
        <div><img src="img/example2.png"></div>
        <div><img src="img/example3.png"></div>
        <div><img src="img/example4.png"></div>
        <div><img src="img/example5.png"></div>
      </div>
      </div>
      <div class="mainlinks">
  <a class="mainpagelink" href="/comics/create">MAKE A COMIC</a> <a class="mainpagelink" href="/comics/random">VIEW RANDOM COMICS</a>
</div>
  </div>
</body>
</html>