<!DOCTYPE html>
<html>
<head>

<!--
 _______   _____ ______   ________        ___  ___
|\  ___ \ |\   _ \  _   \|\   __  \      |\  \|\  \
\ \   __/|\ \  \\\__\ \  \ \  \|\  \     \ \  \ \  \
 \ \  \_|/_\ \  \\|__| \  \ \  \\\  \  __ \ \  \ \  \
  \ \  \_|\ \ \  \    \ \  \ \  \\\  \|\  \\_\  \ \  \
   \ \_______\ \__\    \ \__\ \_______\ \________\ \__\
    \|_______|\|__|     \|__|\|_______|\|________|\|__|

vision lol

-->


<meta name="description" content="EmojiVision Industries">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="utf-8">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/slick.js"></script>
<script type="text/javascript" src="/js/indexpage.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/animations.css">


<title>EmojiVision</title>
</head>
<body id="mainpage" data-spy="scroll" data-target=".navbar-nav">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" data-scroll="top" id="mainanchor">EmojiVision</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#visionpage" data-scroll="visionpage">Vision</a>
          </li>
          <li>
            <a href="#productpage" data-scroll="productpage">Products</a>
          </li>
          <li>
            <a href="#teampage" data-scroll="teampage">Our Team</a>
          </li>
           <li>
            <a href="#presspage" data-scroll="presspage">Press</a>
          </li>

          <li>
            <a href="#contactpage" data-scroll="contactpage">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="splash" class="fill container">



    <div class="row">
      <div id="vertical-center">
       <div class="col-md-3"></div>
       <div class="col-md-6">
        <div class="expandOpen intro">
          EmojiVision
        </div>
        <img id="moreinfo" class="floating img-responsive" src="emojis/down.png">
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>

<div id="visionpage" class="container page vision">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="pagetitle col-md-6">
      <img src="emojis/475.png" alt="" class="icon img-responsive">

      OUR VISION

    </div>
    <div class="col-md-3"></div>
  </div>



  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-4 col-sm-12 description">
          <img src="emojis/705.png" alt="" class="icon img-responsive">
          <h3>Emoji Future</h3>
          <p>Many "modern" languages have existed for thousands of years. Would you use a thousand-year-old computer? Would you ride in a thousand-year-old airplane?</p>
          <p>We didn't think so. Here at EmojiVision, we think it's time for an upgrade.</p>

        </div>
        <div class="col-md-4 col-sm-12 description">
          <img src="emojis/783.png" alt="" class="icon img-responsive">
          <h3>Emoji Disruption</h3>
          <p>87% of humans prefer emojis to traditional words and sentences.</p>
          <p>EmojiVision's goal is to faciliate this disruption of language through research, development, and open dialogue about the increasingly unnecessary nature of written language.</p>
        </div>
        <div class="col-md-4 col-sm-12 description">
          <img src="emojis/512.png" alt="" class="icon img-responsive">
          <h3>Emoji Worldwide</h3>
          <p>Emoji is the first language spoken internationally. Finally, the arbitrary boundaries between nations and people are dissolved.</p>
          <p>Join us and celebrate the dawn of communitation without borders.</p>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>


<div id="productpage" class="container page products">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 pagetitle">
      <img src="emojis/353.png" alt="" class="icon img-responsive">

      OUR PRODUCTS</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5 description">
        <a href="/comics" class="prodlink">
        <img src="emojis/538.png" alt="" class="icon img-responsive">
        <h3>EMOJI COMICS</h3></a>
        <img src="img/examplecomic.png" alt="" class="img-responsive">
        <p>A full-featured web-based application for designing and publishing Emoji-based comic strips.</p>
        <a href="/comics" class="prodlink">Visit Emoji Comics</a>

      </div>
      <div class="col-md-5 description">
        <img src="emojis/342.png" alt="" class="icon img-responsive">
        <a href="/code" class="prodlink">
        <h3>EMOJI CODE</h3></a>
        <img src="img/examplecodesmall.png" alt="" class="icon img-responsive">
        <p>Encrypt messages into a proprietary Emoji language and communicate entirely via Emoji.</p>
        <a href="/code" class="prodlink">Visit EmojiCode</a>

      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

  <div id="teampage" class="container page team">
    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-6 pagetitle">
      <img src="emojis/258.png" alt="" class="icon img-responsive">
        OUR TEAM
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3 description">
        <h3>Professor Moon</h3>
      <img src="img/profmoon.jpg" alt="" class="icon img-responsive">
        <p class='jobtitle'>Founder and Managing Director</p>
      </div>
      <div class="col-xs-12 col-sm-3 description">
        <h3>Dr. Jennifer iMessage</h3>
      <img src="img/jenny.jpg" alt="" class="icon img-responsive">
      <p class='jobtitle'>Director Of Emoji Research</p>
      </div>
      <div class="col-xs-12 col-sm-3 description">
        <h3>Princess Cupcake</h3>
      <img src="img/princess.jpg" alt="" class="icon img-responsive">
      <p class='jobtitle'>Emoji Kingdom Liaison</p>
      </div>
      <div class="col-xs-12 col-sm-3 description">
        <h3>Petey Pizza</h3>
      <img src="img/pizzaface.jpg" alt="" class="icon img-responsive">
      <p class='jobtitle'>Director Of Communications</p>
      </div>


    </div>
  </div>

  <div id="presspage" class="container page press">

    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-6 pagetitle">
      <img src="emojis/411.png" alt="" class="icon img-responsive">
        PRESS</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-md-2 presspic">
        <img src="img/award1.gif" alt="" class="icon img-responsive">
      </div>
      <div class="col-xs-4 col-md-2 presspic">
        <img src="img/award2.gif" alt="" class="icon img-responsive">
      </div>
      <div class="col-xs-4 col-md-2 presspic">
        <img src="img/award3.gif" alt="" class="icon img-responsive">
      </div>
      <div class="col-xs-4 col-md-2 presspic">
        <img src="img/award4.gif" alt="" class="icon img-responsive">
      </div>
      <div class="col-xs-4 col-md-2 presspic">
        <img src="img/award5.jpg" alt="" class="icon img-responsive">
      </div>
      <div class="col-xs-4 col-md-2 presspic">
        <img src="img/award6.jpg" alt="" class="icon img-responsive">
      </div>
      <div class="col-xs-4 col-md-2 presspic">
        <img src="img/award7.jpg" alt="" class="icon img-responsive">
      </div>
      <div class="col-xs-4 col-md-2 presspic">
        <img src="img/award8.gif" alt="" class="icon img-responsive">
      </div>
      <div class="col-xs-4 col-md-2 presspic">
        <img src="img/award9.gif" alt="" class="icon img-responsive">
      </div>
       <div class="col-xs-4 col-md-2 presspic">
        <img src="img/award10.gif" alt="" class="icon img-responsive">
      </div>
       <div class="col-xs-4 col-md-2 presspic">
        <img src="img/award11.gif" alt="" class="icon img-responsive">
      </div>
       <div class="col-xs-4 col-md-2 presspic">
        <img src="img/award12.gif" alt="" class="icon img-responsive">
      </div>
    </div>
  </div>

  <div id="contactpage" class="container page contact">

    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-6 pagetitle">
      <img src="emojis/393.png" alt="" class="icon img-responsive">
        CONTACT</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 contactinfo">For press inquiries, Emoji technology licensing information, and job opportunities, please contact us on <a href="http://twitter.com/nah_solo" target="_blank">Twitter</a>.
      <img src="emojis/169.png" alt="" class="icon img-responsive">

      </div>
      <div class="col-md-3"></div>


    </div>
  </div>



</body>
</html>