<!DOCTYPE html>
<html>
<head>

<!--
 _______   _____ ______   ________        ___  ___
|\  ___ \ |\   _ \  _   \|\   __  \      |\  \|\  \
\ \   __/|\ \  \\\__\ \  \ \  \|\  \     \ \  \ \  \
 \ \  \_|/_\ \  \\|__| \  \ \  \\\  \  __ \ \  \ \  \
  \ \  \_|\ \ \  \    \ \  \ \  \\\  \|\  \\_\  \ \  \
   \ \_______\ \__\    \ \__\ \_______\ \________\ \__\
    \|_______|\|__|     \|__|\|_______|\|________|\|__|

vision lol

-->


<meta name="description" content="Make comic strips with emojis. Extremely fun and excellent.">

<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/slick.js"></script>
<script type="text/javascript" src="/js/scripts/indexpage.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link rel="stylesheet" type="text/css" href="css/skeleton.css">



<title>EmojiVision</title>
</head>
<body>
  <div id="mainpage">

    <div class="container">
      <div class="row">
        <div class="offset-by-three six columns">
          <img id="logo" class="u-max-full-width" src="img/visionlogo.png">
        </div>
      </div>

      <div class="row">
        <div class="offset-by-one ten columns divider"></div>
      </div>
      <div class="row linkz">
        <div class="choice offset-by-two two columns">
          <span>VISION</span>
        </div>
        <div class="choice two columns">
          <span>PRODUCTS</span>
        </div>
        <div class="choice two columns">
          <span>TEAM</span>
        </div>
        <div class="choice two columns">
          <span>CONTACT</span>
        </div>
      </div>
      <div class="row">
        <div class="offset-by-one ten columns divider"></div>
      </div>

      <div class="row">
        <div class="ten front columns offset-by-one">
          <div class="catchphrase">

          </div>
        </div>
        <div class="one column"></div>

      </div>

      <div class="row">
        <div class="offset-by-one ten columns">
          <div id="vision" class="headline">
            <img src='emojis/475.png'>
            <span>Our Vision</span>
            <img class='flipped' src='emojis/475.png'>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="five columns offset-by-one description">
          <div class="subheader">
            <img src="emojis/389.png">
            Modern Language For A Modern World
          </div>
          <p>Many written languages have existed for more than 5,000 years. Would you ride in a 5,000-year-old airplane? Would you use a 100-year-old computer? At EmojiVision Industries, we don't think so either. </p>
          <p>It's time for an upgrade.</p>
        </div>

        <div class="five columns">
          <img  class="business-img u-max-full-width" src='img/business.jpg'>

        </div>
      </div>
      <div class="row">
        <div class="ten columns offset-by-one description">

          <div class="subheader">
            <img src="emojis/440.png">
            Tear Down The Language Wall</div>
            <p>In this modern world of ours it's trivial for two people from anywhere on the globe to communicate. Unfortunately, they may not speak the same language. Emojis are the first language without borders.</p>
          </div>
        </div>

        <div class="row">
          <div class="ten columns offset-by-one description">

            <div class="subheader">
              <img src="emojis/341.png">
              Emoji Monetization</div>
              <p>Investment. Disruption. Enterprise Technology. Monetization. Emojis.</p>
              <p>We stay on the cutting edge of Emoji technology and are ready to help you bring your business into the Emoji future.</p>

            </div>
          </div>


          <div class="row">
            <div class="offset-by-one ten columns">
              <div id="products" class="headline">

                <img src='emojis/475.png'>
                <span>Products</span>
                <img class='flipped' src='emojis/475.png'>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="ten columns offset-by-one description">
              <div class="subheader">
                <a href="/comics">
                  <img src="emojis/538.png">
                  Emoji Comics</div>
                </a>
                <div class="img-box">

                  <img class="u-max-full-width imgcenter" src="img/examplecomic.png">
                </div>
                <p>Create and share comic strips using the entire range of Emoji.</p>
                <p><em>Check out <a href="/comics">Emoji Comics</a></em></p>

              </div>
            </div>
            <div class="row">
              <div class="ten columns description offset-by-one">
                <div class="subheader">
                  <a href="/code">
                    <img src="emojis/399.png">
                    EmojiCode</div>
                  </a>
                </div>
                <div class="row">
                  <div class="four columns description offset-by-four">
                    <img class="center-img" src="img/codeexample.png">
                  </div>
                </div>
                <div class="row">
                  <div class="ten columns description offset-by-one">

                    <p>A proprietary encryption algorithm designed to convert boring, outdated letters and numbers into pure Emoji.</p>
                    <p><em>Check out <a href="/code">EmojiCode</a></em></p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="offset-by-one ten columns">
                  <div id="team" class="headline">

                    <img src='emojis/475.png'>
                    <span>Our Team</span>
                    <img class='flipped' src='emojis/475.png'>
                  </div>
                </div>

                <div class="row">
                 <div class="five columns offset-by-one description">
                  <div class="subheader">Professor Moon</div>
                  <img class="u-max-full-width" src="img/profmoon.jpg">
                  <div class="credentials">Founder And Managing Director</div>
                </div>
                <div class="five columns">
                  <div class="subheader">Dr. Jennifer iMessage</div>
                  <img class="u-max-full-width" src="img/jenny.jpg">
                  <div class="credentials">Director Of Research And Development</div>
                </div>
              </div>
            </div>

            <div class="row">
             <div class="five columns offset-by-one description">
              <div class="subheader">Lukey Q. Pizzaface</div>
              <img class="u-max-full-width" src="img/pizzaface.jpg">
              <div class="credentials">Director Of Communication</div>
            </div>
            <div class="five columns">
              <div class="subheader">Princess Cupcake</div>
              <img class="u-max-full-width" src="img/princess.jpg">
              <div class="credentials">Chief Royal Advisor</div>
            </div>
          </div>

          <div class="row">
            <div class="offset-by-one ten columns">
              <div id="contact" class="headline">

                <img src='emojis/475.png'>
                <span>Contact</span>
                <img class='flipped' src='emojis/475.png'>
              </div>

            </div>
          </div>

 <div class="row">
             <div class="ten columns offset-by-one description">
              <p>For all inquiries, please contact our Director of Communications <a href="http://twitter.com/nah_solo">via twitter</a>.</p>
            </div>

        </div>

      </div>
</body>
</html>