<!DOCTYPE html>
<html>
<head>

<!--
 _______   _____ ______   ________        ___  ___
|\  ___ \ |\   _ \  _   \|\   __  \      |\  \|\  \
\ \   __/|\ \  \\\__\ \  \ \  \|\  \     \ \  \ \  \
 \ \  \_|/_\ \  \\|__| \  \ \  \\\  \  __ \ \  \ \  \
  \ \  \_|\ \ \  \    \ \  \ \  \\\  \|\  \\_\  \ \  \
   \ \_______\ \__\    \ \__\ \_______\ \________\ \__\
    \|_______|\|__|     \|__|\|_______|\|________|\|__|

vision lol

-->


<meta name="description" content="EmojiVision Industries">

<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/slick.js"></script>
<script type="text/javascript" src="/js/scripts/indexpage.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/animations.css">


<title>EmojiVision</title>
</head>
<body id="mainpage" data-spy="scroll" data-target=".navbar-nav">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" data-scroll="top" id="mainanchor">EmojiVision</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#visionpage" data-scroll="visionpage">Vision</a>
                        </li>
                        <li>
                            <a href="#productpage" data-scroll="productpage">Products</a>
                        </li>
                        <li>
                            <a href="#teampage" data-scroll="teampage">Our Team</a>
                        </li>
                        <li>
                            <a href="#contactpage" data-scroll="contactpage">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    <div id="splash" class="fill container">

      <div class="row">
        <div id="vertical-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="expandOpen intro">
          EmojiVision
        </div>
          <img id="moreinfo" class="floating img-responsive" src="emojis/down.png">
        </div>

        <div class="col-md-3"></div>
        </div>
      </div>
    </div>

     <div id="visionpage" class="container page vision">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="pagetitle col-md-6">OUR VISION</div>
        <div class="col-md-3"></div>
      </div>
           <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-4 description">
              <img src="emojis/656.png" alt="" class="icon img-responsive">
              <h3>EMOJI VISION</h3>
              <p>blah blah blahblahblah  blahblahblah  blahblahblah  blahblahblah blah </p>

            </div>
            <div class="col-md-4 description">
              <img src="emojis/122.png" alt="" class="icon img-responsive">

              <h3>EMOJI WORLD</h3>
              <p>blah blah blahblahblah  blahblahblah  blahblahblah  blahblahblah blah </p>

            </div>
            <div class="col-md-4 description">
              <img src="emojis/333.png" alt="" class="icon img-responsive">

              <h3>EMOJI EDUCATION</h3>
              <p>blah blah blahblahblah  blahblahblah  blahblahblah  blahblahblah blah </p>

            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>

     <div id="productpage" class="container page products">

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 pagetitle">PRODUCTS</div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 product">emoji comics</div>
        <div class="col-md-5 product">emoji code</div>
        <div class="col-md-1"></div>


      </div>
      </div>

     <div id="teampage" class="container page team">

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 pagetitle">OUR TEAM</div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 product">emoji comics</div>
        <div class="col-md-5 product">emoji code</div>
        <div class="col-md-1"></div>


      </div>
    </div>

     <div id="contactpage" class="container page contact">

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 pagetitle">Contact</div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 product">emoji comics</div>
        <div class="col-md-5 product">emoji code</div>
        <div class="col-md-1"></div>


      </div>
    </div>
</body>
</html>