<!DOCTYPE html>
<html>
<head>

  <!--
   _______   _____ ______   ________        ___  ___
  |\  ___ \ |\   _ \  _   \|\   __  \      |\  \|\  \
  \ \   __/|\ \  \\\__\ \  \ \  \|\  \     \ \  \ \  \
   \ \  \_|/_\ \  \\|__| \  \ \  \\\  \  __ \ \  \ \  \
    \ \  \_|\ \ \  \    \ \  \ \  \\\  \|\  \\_\  \ \  \
     \ \_______\ \__\    \ \__\ \_______\ \________\ \__\
      \|_______|\|__|     \|__|\|_______|\|________|\|__|

vision lol

   -->


  <meta name="description" content="Make comic strips with emojis. Extremely fun and excellent.">

  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <title>EMOJI VISION</title>
</head>
<body>
    <div id="landing">
      <div id="titlewrap">
      <div id="maintitle">EMOJIVISION LTD.</div>
      <div id="submaintitle"><span class="mainquote">to err is human; to emoji, divine</span></div>
      </div>
      <div id="wrapper">
      <div class="col1">
        <a href="/code">
        <div class="title">EMOJICODE</div>
        <div class="subtitle">communicate entirely with emojis</div>
        <img src="img/sampleconvo.png">
        </a>
      </div>
      <div class="col2">
        <a href="/comics">
        <div class="title">EMOJICOMICS</div>
        <div class="subtitle">build your own emoji comic strips</div>
        <img src="img/welcome.png">
      </a>
      </div>
      </div>
    </div>

</body>
</html>