<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="/js/vendor/paper.js"></script>
  <script type="text/javascript" src="/js/vendor.js"></script>

  <script type="text/paperscript" canvas="myCanvas" src="/js/scripts.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div id="container">
    <div class="wrapper">
      <img id="welcomeimage" src="/img/welcome.png">
      <h3 id="maintitle">emoji comic creator</h3>
  <a href="/comics/create"><button class="indexbutton">make a comic</button></a>
  <a href="/comics/random"><button class="indexbutton">view random comics</button></a>
  </div>

</div>
</body>
</html>