<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="/js/vendor.js"></script>

  <script type="text/javascript" src="/js/display.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div id="comic-container">
  <div id="comic">
<img src="<%= img %>"/>
  </div>
  <div id="comicauthor">by <span id='author'><%= author %></span></div>
  <input class="randomdeliverylink" type="text" value="https://emojicomic.herokuapp.com/comics/<%= shortid %>">
  </div>
</div>
  <button id="anotherRandom">another random comic</button>
  <img id='loadingcomic' src="/img/loadingcomic.png">
</body>
</html>