<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="/js/vendor.js"></script>

  <script type="text/javascript" src="/js/display.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <script>
  var comicID = <%- JSON.stringify(comicID) %>;
</script>
  <div id="comic"></div>
  <button id="showme">show the comic</button>

</div>
</body>
</html>