<!DOCTYPE html>
<html>
<head>

<!--
 _______   _____ ______   ________        ___  ___
|\  ___ \ |\   _ \  _   \|\   __  \      |\  \|\  \
\ \   __/|\ \  \\\__\ \  \ \  \|\  \     \ \  \ \  \
 \ \  \_|/_\ \  \\|__| \  \ \  \\\  \  __ \ \  \ \  \
  \ \  \_|\ \ \  \    \ \  \ \  \\\  \|\  \\_\  \ \  \
   \ \_______\ \__\    \ \__\ \_______\ \________\ \__\
    \|_______|\|__|     \|__|\|_______|\|________|\|__|

vision lol

-->


<meta name="description" content="EmojiVision: leading Emoji researchers and consultants">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="utf-8">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/slick.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">


<title>EmojiVision</title>
</head>

<body>
  <% include /partials/header %>
  <div class="container">
  <canvas id="canvas"></canvas>

  </div>

<script type="text/javascript" src="/js/canvas.js"></script>
</body>
</html>